Doctors app NODE-RED.json
[
    {
        "id": "a7dc5a6.78ec8a8",
        "type": "tab",
        "label": "Translator for Doctor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2a6167c8.a7e608",
        "type": "microphone",
        "z": "a7dc5a6.78ec8a8",
        "name": "",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "d60c6e02.43e32"
            ]
        ]
    },
    {
        "id": "d60c6e02.43e32",
        "type": "watson-speech-to-text",
        "z": "a7dc5a6.78ec8a8",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "en-GB",
        "langhidden": "en-GB",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "NarrowbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "TWO5s3oByjS2jencFJv0VV02_LnVPwRmWU3nlmslQZa3",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/7831ed0f-d2e3-4d8d-bc6e-c96724b12179",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "e31a17cb.6c69a8",
                "1d34d395.2850ac",
                "9489c598.958b38",
                "c1905bc1.b7f7c8",
                "37ab60f6.2c4bb"
            ]
        ]
    },
    {
        "id": "e31a17cb.6c69a8",
        "type": "debug",
        "z": "a7dc5a6.78ec8a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 60,
        "wires": []
    },
    {
        "id": "1d34d395.2850ac",
        "type": "ui_text",
        "z": "a7dc5a6.78ec8a8",
        "group": "157a53f3.39b8ac",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Speech converted to Text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "9489c598.958b38",
        "type": "watson-translator",
        "z": "a7dc5a6.78ec8a8",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "en",
        "destlang": "hi",
        "password": "",
        "apikey": "g8zwSoTduK48usPSlbqsO8NZknENC4Tm2uvrjpWKS3Kr",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "hi",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/b63372ab-a6df-43ae-920a-d91b7a82c2c3",
        "x": 510,
        "y": 260,
        "wires": [
            [
                "fd9b3666.29e258",
                "79229aff.6f2704",
                "3545648c.e0df4c"
            ]
        ]
    },
    {
        "id": "c1905bc1.b7f7c8",
        "type": "watson-translator",
        "z": "a7dc5a6.78ec8a8",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "en",
        "destlang": "fr",
        "password": "",
        "apikey": "g8zwSoTduK48usPSlbqsO8NZknENC4Tm2uvrjpWKS3Kr",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "fr",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/b63372ab-a6df-43ae-920a-d91b7a82c2c3",
        "x": 530,
        "y": 540,
        "wires": [
            [
                "bf47e245.604c4",
                "d84f570f.013208",
                "e0645a53.7cf7b8"
            ]
        ]
    },
    {
        "id": "3545648c.e0df4c",
        "type": "play audio",
        "z": "a7dc5a6.78ec8a8",
        "name": "",
        "voice": "0",
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "fd9b3666.29e258",
        "type": "debug",
        "z": "a7dc5a6.78ec8a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "79229aff.6f2704",
        "type": "ui_text",
        "z": "a7dc5a6.78ec8a8",
        "group": "11ac1114.8b7d9f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hindi Translation",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "603f8b3a.358614",
        "type": "play audio",
        "z": "a7dc5a6.78ec8a8",
        "name": "",
        "voice": "0",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "ebe8f37.bd1961",
        "type": "debug",
        "z": "a7dc5a6.78ec8a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 440,
        "wires": []
    },
    {
        "id": "2302789b.e39528",
        "type": "ui_text",
        "z": "a7dc5a6.78ec8a8",
        "group": "11ac1114.8b7d9f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Korean Translation",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "bf47e245.604c4",
        "type": "play audio",
        "z": "a7dc5a6.78ec8a8",
        "name": "",
        "voice": "0",
        "x": 730,
        "y": 500,
        "wires": []
    },
    {
        "id": "e0645a53.7cf7b8",
        "type": "debug",
        "z": "a7dc5a6.78ec8a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 580,
        "wires": []
    },
    {
        "id": "d84f570f.013208",
        "type": "ui_text",
        "z": "a7dc5a6.78ec8a8",
        "group": "11ac1114.8b7d9f",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "French Translation",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 750,
        "y": 540,
        "wires": []
    },
    {
        "id": "37ab60f6.2c4bb",
        "type": "watson-translator",
        "z": "a7dc5a6.78ec8a8",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "en",
        "destlang": "ko",
        "password": "",
        "apikey": "g8zwSoTduK48usPSlbqsO8NZknENC4Tm2uvrjpWKS3Kr",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "ko",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/b63372ab-a6df-43ae-920a-d91b7a82c2c3",
        "x": 510,
        "y": 400,
        "wires": [
            [
                "603f8b3a.358614",
                "2302789b.e39528",
                "ebe8f37.bd1961"
            ]
        ]
    },
    {
        "id": "157a53f3.39b8ac",
        "type": "ui_group",
        "z": "",
        "name": "Speech to Text",
        "tab": "b7d8753a.08bdf8",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "11ac1114.8b7d9f",
        "type": "ui_group",
        "z": "",
        "name": "Translations",
        "tab": "b7d8753a.08bdf8",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "b7d8753a.08bdf8",
        "type": "ui_tab",
        "z": "",
        "name": "Doctor's App",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]